.info {
    display: grid;
    width: 410px;
    grid-template-columns: 100px 300px;
    grid-template-rows: 120px 120px;
    grid-gap: 10px;
    margin: 0 0 20px 0;
}

.board {
    display: grid;
    width: 270px;
    grid-template-columns: 135px 135px;
    grid-template-rows: 220px 220px;
    border: 5px double black;
}

.room {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px;
    grid-template-rows: 35px 35px 35px 35px 35px 35px;
    border: 5px double black;
}

.square {
    border: 1px dotted black;
    color: white;
}

#room1 > .square15 {
    border-right: 4px solid brown;
}
#room1 > .square28 {
    border-bottom: 4px solid brown;
}
#room2 > .square11 {
    border-left: 4px solid brown;
}
#room2 > .square29 {
    border-bottom: 4px solid brown;
}
#room3 > .square3 {
    border-top: 4px solid brown;
}
#room4 > .square4 {
    border-top: 4px solid brown;
}

.player_character {
    width: 21px;
    margin: 2px 0 0 1px;
}

img {
    width: 21px;
}

.info > div {
    border: 1px solid black;
}

/*h2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start 1;
    grid-row-end: 1;
}

.messages {    
    grid-column-start: 2;
    grid-column-end: 2
    grid-row-start 1;
    grid-row-end: 1;

}

.instructions {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start 2;
    grid-row-end: 2;
}

.inventory {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start 2;
    grid-row-end: 2;
}*/