.info {
    display: grid;
    width: 410px;
    grid-template-columns: 460px 280px;
    grid-template-rows: 300px 175px 175px;
    grid-gap: 10px;
    margin: 0 0 20px 0;
}

.board {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    width: 270px;
    grid-template-columns: 135px 135px;
    grid-template-rows: 220px 220px 200px;;
    border: 5px double black;
}

.room {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px;
    grid-template-rows: 35px 35px 35px 35px 35px 35px;
    border: 5px double black;
    visibility: hidden;
    height: 210px;
}

.square {
    border: 1px dotted black;
    color: white;
}

#room1 > .square15 {
    border-right: 4px solid brown;
}
#room1 > .square28 {
    border-bottom: 4px solid brown;
}
#room2 > .square11 {
    border-left: 4px solid brown;
}
#room2 > .square29 {
    border-bottom: 4px solid brown;
}
#room3 > .square3 {
    border-top: 4px solid brown;
}
#room4 > .square4 {
    border-top: 4px solid brown;
}

.player_character {
    width: 21px;
    margin: 2px 0 0 1px;
}

img {
    height: 30px;
}

.inventory{
    border: 1px solid black;
}

#log_player1 {
    overflow: auto;
}

.messages {
    overflow: auto;
    border: 1px solid black;
}

h3 {
    text-align: center;
}

li > img {
    height: 20px;
}

.legend > ul {
    list-style-type: none;
    padding: 0 10px 0 10px;
}

li {
    margin: 10px 0 5px 0;
}

h1 {
    text-align: center;
}

input {
    font-size: 1.1rem;
}